################################################################
#
# You can install all required Python packages by running
# the following command in a shell:
#     pip install -r requirements.txt
#
# Note that you have to edit this file to select whether you
# want to install the CPU or GPU version of TensorFlow.
#
################################################################
# Basic packages

setuptools==41.2.0
numpy==1.18.1
scipy==1.4.1
jupyter==1.0.0
matplotlib==3.2.0
pandas==1.0.1
scikit-learn==0.22.2.post1
opencv-python==4.2.0.32

################################################################
# TensorFlow can be installed either as CPU or GPU versions.
# You select which one to install by (un)commenting these lines.

tensorflow==2.1.2		# CPU Version of TensorFlow.
# tensorflow-gpu	        # GPU version of TensorFlow.
